main
{
    border: 1px solid rgb(253, 253, 253);
    max-width: 1200px;
    margin: auto;
    height: 200%;
}

header
{
    display: flex;
    padding: 0;
}

.ListaNav li
{
    list-style-type: none;
    font-size: 24px;
}

.hero-image
{
    background-image: url(download.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 55vh;
}

.text1
{
    color: #fff;
    text-align: center;
}

.text2
{
    color: #fff;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.btn1
{
    background-color: #4caf50;
    border: none;
    color: #fff;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}

.features section2
{
    border: 1px solid black;
    margin: 1rem;
    text-align: center;
    background-color: #841de4;
    color: #FFF;
}